@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


    @foreach (var x in Model.rows)
    {
        <div class="col-md-6 col-lg-4">
            <div class="card text-center card-product">
                <div class="card-product__img">
                    <img class="card-img" src="@x.Slika" alt="nema">
                    <ul class="card-product__imgOverlay">
                        <li><a asp-action="Knjigakupovina" asp-route-id="@x.KnjigaID" class="btn btn-md btn-danger"><i class="ti-search"></i></a></li>

                        <li><a asp-action="Knjigakupovina" asp-route-id="@x.KnjigaID" class="btn btn-md btn-danger"><i class="ti-shopping-cart"></i></a></li>
                        <li><a asp-action="Knjigakupovina" asp-route-id="@x.KnjigaID" class="btn btn-md btn-danger"><i class="ti-heart"></i></a></li>
                    </ul>
                </div>
                <div class="card-body">

                    <h4 class="card-product__title"><a href="#">@x.Naziv</a></h4>
                    <p class="card-product__price">Cijena: <span style="color:green"> @x.Cijena</span> KM</p>
                </div>
            </div>
        </div>



    }
