@model eKnjige.Areas.AdministratorModul.ViewModels.KnjigeDodajVM

@{
    var administrator = (List<Administrator>)ViewData["administrator-kljuc"];
    var autor = (List<Autor>)ViewData["autor-kljuc"];
    ViewData["Title"] = "DodajKnjigu";
}

<section id="main-content">
    <section class="wrapper">
        <section class="panel">
            <header class="panel-heading">
                <h2>Dodaj Knjigu</h2>
                <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
                <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
            </header>

            <div class="panel-body">
                <form asp-action="DodajKnjigu" id="forma">

                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group row">
                        <div class="col-md-4">
                            <label asp-for="Naziv" class="control-label"></label>
                            <input asp-for="Naziv" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <label asp-for="Cijena" class="control-label" type="number" min="0" step="0.01"></label>
                            <input asp-for="Cijena" class="form-control" />
                        </div>
                        <div class="col-md-4">
                            <label asp-for="Opis" class="control-label"></label>
                            <textarea  asp-for="Opis"  class="form-control" ></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-4">
                            <label class="control-label">Slika</label>
                            <input asp-for="SlikaByte" class="form-control" type="file" accept="image/x-png,image/gif,image/jpeg" />
                        </div>
                        <div class="col-md-4">
                            <label class="control-label">PDF</label>
                            <input asp-for="PdfByte" class="form-control" type="file" accept="application/pdf" />
                        </div>
                        <div class="col-md-4">
                            <label  class="control-label">MP3</label>
                            <input asp-for="Mp3Byte" class="form-control" type="file" accept="audio/mp3" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-4">
                            <label asp-for="AutoriID" class="control-label"></label>
                            <select asp-for="AutoriID" asp-items="@Model.Autori" class="selectpicker" multiple="multiple">
                            </select>
                            <input type="button" class="btn btn-success" value="Novi autor" data-toggle="modal" data-target="#autorModal" />
                        </div>
                        <div class="col-md-4">
                            <label asp-for="KategorijeID" class="control-label"></label>
                            <select asp-for="KategorijeID" asp-items="@Model.Kategorije" class="selectpicker" multiple="multiple">
                            </select>
                            <input type="button" class="btn btn-success" value="Nova kategorija" data-toggle="modal" data-target="#kategorijaModal" />
                        </div>
                        <div class="col-md-4">
                            <label asp-for="TipoviId" class="control-label"></label>
                            <select asp-for="TipoviId" asp-items="@Model.Tipovi" class="selectpicker" multiple="multiple">
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" id="spasiBtn" />
                    </div>
                </form>
            </div>
            <div>
                <a asp-action="PrikaziKnjige" class="btn btn-danger"><i class="	fa fa-chevron-left"></i> Nazad</a>
            </div>
        </section>
    </section>
</section>

<div class="container">
    <div class="modal fade" id="kategorijaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upišite kategoriju</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-area="AdministratorModul" asp-controller="Kategorija" asp-action="Dodaj">
                        <div class="form-group">
                            <label for="messagetext" class="col-form-label">Naziv kategorije</label>
                            <input type="text" class="form-control" id="messagetext" name="messagetext" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Završi" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="modal fade" id="autorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Unesite podatke o autoru</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form asp-area="AdministratorModul" asp-controller="Autor" asp-action="Dodaj">

                        <div class="form-group">
                            <label for="ime" class="col-form-label">Ime</label>
                            <input type="text" class="form-control" id="ime" name="ime" />
                        </div>

                        <div class="form-group">
                            <label for="prezime" class="col-form-label">Prezime</label>
                            <input type="text" class="form-control" id="prezime" name="prezime" />
                        </div>
                        <div class="form-group">
                            <label for="datum" class="col-form-label">Datum rođenja</label>
                            <input type="date" class="form-control" id="datum" name="datum" />
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Završi" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<script>
    $(document).ready(function () {
        $('.selectpicker').select2();

    });

    $("#forma").on("submit", function (e) {
        e.preventDefault();
        var formData = new FormData(this);

        $.ajax({
            url: '@Url.Action("DodajKnjigu", "Knjiga")',
            data: formData,
            enctype: 'multipart/form-data',
            processData: false,  // do not process the data as url encoded params
            contentType: false,   // by default jQuery sets this to urlencoded string
            type: 'POST',
            success: function () {
                location.href='@Url.Action("PrikaziKnjige")';
            },
            error: function (response) {
                 $("#main-content").replaceWith(response.responseText);
                 $('.selectpicker').select2();
            }
        });
    });
</script>
